<!DOCTYPE html>
<form action="{% url 'common:main' %}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous"
      />
      <link rel="icon" type="image/x-icon" href="/logo/main.ico" />
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Review</title>
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

<style>
    *{
        font-family: 'NanumBarunGothicLight';

    }
    </style>
    <title>TRAIVLER</title>
    <header class="header-top">
        <div class="header-top__right">

          <a class="right__link_2" href="#" >
           <div class="right__element">
             뭐적어
            </div>
          </a>
          <a class="right__link_3" href="#" >
           <i class="fas fa-ellipsis-h fa-2x"></i>
          </a>
         <a class="right__link_4" href="#" >
          <img src="../img/1.jpg" alt="프로필"
               width="34px" height="34px">
        </a>
        </div>
      </header>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../mainstyle.css" />
  </head>
  <body>
  <style>
      body {
    background-image:url('https://www.visitbusan.net/uploadImgs/files/cntnts/20191229160529389_ttiel');
    background-size: cover;
      }
  </style>
   <div class="text-center text-white" style="padding-top: 100px">
                            <!-- Page heading-->
                            <a class="navbar-brand"  href="http://127.0.0.1:8000/" >
        <img src="https://postfiles.pstatic.net/MjAyMjEyMjJfMzAw/MDAxNjcxNjc0MDg5NDc1.K6IZ-bbwy_YGFP20SiAL-KAu2VVXDZ-FL3k155JHcPcg.zAahbo4yJ8BJGcnizMseYN-9tnwzb_m1grJ8h3Tx_4Qg.PNG.thisjis/1051-removebg-preview.png?type=w966" alt="로고" height="100" width="400">
      </a>
  </div>
    <form action="http://127.0.0.1:8000/common/main" method="GET">
        
        <div class="mx-auto search-bar input-group mb-3">
            
          <input name="q"
            type="text"
            class="form-control rounded-pill"
            placeholder="검색어를 입력하세요."
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          >
          
        </div>
    </div>
  </form>
  
            <div class="center__button">
              <input type="submit" value="I'm your man"
              class="button__google"></input>
              <input type="submit" value="I'm your man 그대여"
              class="button__lucky"></input>
            </div>
  </body>
</form>
