<!doctype html>
<html lang="ko-KR">
<head>
    <link href="chat.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>chatbot</title>
</head>


<body style="background-color:#f2f2f6" >
    <header>
        <div class="logo">
            <div class="logoWrapper">
              <a href="http://127.0.0.1:8000/common/main/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="https://postfiles.pstatic.net/MjAyMjEyMjJfMzAw/MDAxNjcxNjc0MDg5NDc1.K6IZ-bbwy_YGFP20SiAL-KAu2VVXDZ-FL3k155JHcPcg.zAahbo4yJ8BJGcnizMseYN-9tnwzb_m1grJ8h3Tx_4Qg.PNG.thisjis/1051-removebg-preview.png?type=w966" alt="로고" height="50" width="200">
      </a>
            </div>
                
        </div>

    </header>

  <hr class="line">

<div class="wrapper" style="background-color:#ffff">
    <div class ="chat_title">
      <span>TRAIVLER 챗봇</span>
    </div>


    <div class="display-container">
      <ul class="chatting-list">
        <!-- 채팅하나씩 li로 집어 넣을 것 -->
        <li Class = "chat"> 트레이블러 챗봇입니다 어느곳을 가고싶으신가요?</li>
      </ul>
    </div>
    <div class="input-container" style="width: 95%;bottom: 0px;
    position: absolute; margin: 0px; padding: 0; border-width: 0;  box-sizing : border-box;" >
      <hr>
      <input type="text" class="chatting-input" style="float: left;width:95%; height:40px;"/>
      <button class="send-button" style="width:5%; height:40px; ">전송</button>
    </div>
  </div>

    




</body>
</html>
    


